@font-face {
  font-family: 'PFDinTextCondPro-Medium';
  src: url('fonts/261282_0_0.eot');
  src: url('fonts/261282_0_0.eot?#iefix') format('embedded-opentype'), 
       url('fonts/261282_0_0.woff') format('woff'),
       url('fonts/261282_0_0.ttf') format('truetype');
}