/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.albums 
  %ul 
    %li 
      %a{:href => ""} 
        %img{:src => "i/i.jpg"} 
        %p Фотографии бегера турбазы
    %li 
      %a{:href => ""} 
        %img{:src => "i/i.jpg"} 
        %p Фотографии бегера турбазы
    %li 
      %a{:href => ""} 
        %img{:src => "i/i.jpg"} 
        %p Фотографии бегера турбазы
    %li 
      %a{:href => ""} 
        %img{:src => "i/i.jpg"} 
        %p Фотографии бегера турбазы
    %li 
      %a{:href => ""} 
        %img{:src => "i/i.jpg"} 
        %p Фотографии бегера турбазы
    %li 
      %a{:href => ""} 
        %img{:src => "i/i.jpg"} 
        %p Фотографии бегера турбазы
    %li 
      %a{:href => ""} 
        %img{:src => "i/i.jpg"} 
        %p Фотографии бегера турбазы
    %li 
      %a{:href => ""} 
        %img{:src => "i/i.jpg"} 
        %p Фотографии бегера турбазы
    %li 
      %a{:href => ""} 
        %img{:src => "i/i.jpg"} 
        %p Фотографии бегера турбазы

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'