@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";
@import "less/fotorama.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  'PFDinTextCondPro-Medium'
  'Arial'

*/

@headers: 'PFDinTextCondPro-Medium', sans-serif;
.headers() {font-family: @headers;}
@text: 'Arial', sans-serif;
.site_padding(@top, @bottom) {padding: @top 90px @bottom 90px;}

body {
  font: 14px/1.3 @text;
  padding-top: 95px;
  color: #232323;
  min-width: 800px;
  position: relative;
  background: url(i/footer.png) repeat;
  &.big_padding {
    padding-top: 95px + 32px;
  }
  a {
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }
  a.btn {
    .vertical(#06cc66, #008e45);
    .box-shadow(inset 0px 1px 0px rgba(255, 255, 255, 0.3));
    border: 1px solid #05ba5d;
    line-height: 46px;
    padding: 2px 40px 0 40px;
    .headers();
    font-size: 170%;
    color: #fff;
    display: inline-block;
    .border-radius(5px);
    text-decoration: none;
    &:hover {
      .vertical(#05ac56, #008e45);
    }
    &:active {
      .box-shadow(inset 0px 2px 5px rgba(0, 114, 56, 0.64));
    }
  }
}

header {
  .box-sizing(border-box);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2b405a;
  .site_padding(0, 0);
  line-height: 95px;
  z-index: 6000;
  height: 95px;
  a {color: #fff;.headers();text-decoration: none;}
  a.logo {
    float: left;
    font-size: 257%;
  }
  ul {
    float: right;
    line-height: 94px;
    li {
      font-size: 157%;
      float: left;
      margin: 0 0 0 35px;
      &.active, &:hover {
        background: url(i/str.png) no-repeat bottom center;
      }
    }
    &.non_active li {background: none !important;}
  }
}

footer {
  background: url(i/footer.png) repeat;
  .site_padding(35px, 35px);
  color: #fff;
  .headers();
  position: relative;
  * {
    z-index: 10;
    position: relative;
  }
  .light {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: url(i/footer.light.png) no-repeat;
    width: 555px;
    height: 211px;
  }
  p.about {
    float: left;
    width: 360px;
    font-size: 16px;
    padding-top: 15px;
  }
  .contacts {
    float: right;
    width: 260px;
    p {
      margin-top: 16px;
      &:first-child {margin-top: 0;}
    }
  }
}

ul.submenu {
  .site_padding(0, 0);
  background: #f1f1f1;
  .headers();
  font-size: 128%;
  line-height: 32px;
  position: relative;
  text-align: right;
  z-index: 7000;
  a {
    color: #939393;
    text-decoration: none;
  }
  li {
    display: inline-block;
    margin: 0 0 0 40px;
    &.active, &:hover {
      a {
        color: #2b405a;
      }
    }
  }
  &.with_str {
    position: relative;
    &.fixed {
      position: fixed;
      top: 95px;
      left: 0px;
      width: 100%;
      .box-sizing(border-box);
    }
    i {
      position: absolute;
      top: -7px;
      right: 545px;
      width: 13px;
      height: 7px;
      background: url(i/str.png) no-repeat;
    }
  }
  &:not(.with_str) {
    position: fixed;
    top: 95px;
    left: 0px;
    width: 100%;
    .box-sizing(border-box);
  }
}

section {
  background: #fff;
  .site_padding(40px, 40px);
  .clearfix();
}

section.albums {
  ul {
    li {
      width: 31%;
      float: left;
      margin-left: 3.5%;
      margin-bottom: 40px;
      position: relative;
      img {width: 100%;display: block;}
      &:nth-child(3n+1) {
        margin-left: 0;
      }
      p {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        .box-sizing(border-box);
      }
    }
  }
}

section.contacts {
  h1, .right {.headers();}
  .left {
    float: left;
    width: 440px;
    h1 {
      font-size: 257%;
      color: #2b405a;
      margin-bottom: 40px;
    }
  }
  .right {
    float: right;
    width: 285px;
    font-size: 214%;
    padding: 15px 0 0 0;
    line-height: 1.2;
  }
  iframe {
    width: 100%;
    height: 500px;
    background: #f1f1f1;
    padding: 5px;
    margin: 100px 0 40px;
    .border-radius(5px);
  }
}

article {
  margin: 0 33% 0 0;
  font: 128%/1.3 @text;
  h2, h1 {
    .headers();
    font-size: 257%;
    a { color: #2b405a; }
  }
  p {
    margin-bottom: 18px*1.3;
  }
  p.date {
    font-size: 77%;
    text-transform: uppercase;
    color: #939393;
  }
}

section.index {
  padding: 0;
  .wind {
    margin-top: -125px;
    .www {
      height: 125px;
    }
  }
  .slide {
    position: relative;
    hr.wind {
      opacity: 0.1;
      position: absolute;
      top: -130px;
      width: 50%;
      height: 90%;
    }
    .site_padding(40px, 40px);
    .clearfix();
    h1, h2, h4 {
      .headers();
    }
    h1 {
      font-size: 514%;
      line-height: 72px;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 256%;
      color: #2b405a;
      margin-bottom: 22px;
    }
    h4 {
      font-size: 171%;
      color: #2b405a;
    }
    p {
      font: 128%/1.3 @text;
      margin-bottom: 22px;
    }
    aside {
      width: 45%;
      float: left;
      img {max-width: 100%;}
      &:last-child {
        float: right;
      }
    }
    ul.tgb {
      margin: 70px 0;
      li {
        float: left;
        width: 28%;
        margin-right: 5.3%;
        margin-bottom: 20px;
        &.tw p {
          padding-top: 15px;
        }
        p { text-align: left !important; font-size: 14px; }
        img {
          float: left;
          margin: 0 15px 0 0;
        }
      }
    }
    .labels {
      .headers();
      font-size: 214%;
      margin-bottom: 30px;
      span {
        display: block;
        width: 33.3%;
        float: left;
        text-align: center;
      }
      a.label {
        display: inline-block;
        color: #2b405a;
        text-decoration: none;
        line-height: 54px;
        padding: 0px 33px;
        &.active {
          background: #2ab2d9;
          color: #fff;
          position: relative;
          .border-radius(7px);
          i {
            display: block;
            position: absolute;
            bottom: -11px;
            left: 50%;
            margin: 0 0 0 -11.5px;
            width: 23px;
            height: 11px;
            background: url(i/str1.png) no-repeat;
          }
        }
      }
    }
    .tabs {
      .tab {
        display: none;
        &.active {display: block;}
      }
    }
    table {
      margin: 0 100px 20px;
      td, th {
        padding: 14px 0;
      }
      td {
        text-align: center;
        font: bold 171%/1.2 @text;
        color: #868686;
      }
      th {
        .headers();
        font-size: 171%;
        color: #2b405a;
        text-align: left;
        &.c { text-align: center;width: 50%; }
      }
    }
    p.comment {
      text-align: center;
      color: #868686;
      .headers();
      font-size: 77%;
      margin: 0 0 15px;
      a {color: #868686;}
    }
    .center-btn {
      text-align: center;
    }
    &.image {
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      //background-size:cover;
      background-position: top center;
      height: 500px;
      color: #fff;
      text-align: center;
      position: relative;
      background-repeat: no-repeat;
      a {color: #fff;}
      .cc {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 780px;
        height: 225px;
        margin: -112.5px 0 0 -390px;
      }
    }
    &.text {
      .center {
        p { text-align: center; }
      }
    }
    &.with_image {
      .wr {
        max-width: 1020px;
        margin: 0 auto;
        padding: 30px;
        background: #fff;
        .border-radius(10px);
      }
    }
  }
}




