/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.contacts 
  .left 
    %h1 Представительство в Москве
    %p В пределах аккумулятивных равнин приток слагает плоскостной боксит, делая этот типологический таксон районирования носителем важнейших инженерно-геологических характеристик природных условий. 
  .right
    Москва, 119454 <br />
    ул. Удальцова дом 1 <br />
    + 7 495 788-92-82 <br />
    moscow@site.com
  .clear
  <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+119454+%D1%83%D0%BB.+%D0%A3%D0%B4%D0%B0%D0%BB%D1%8C%D1%86%D0%BE%D0%B2%D0%B0+%D0%B4%D0%BE%D0%BC+1&amp;aq=&amp;sll=55.839633,37.484375&amp;sspn=0.002982,0.009645&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB.+%D0%A3%D0%B4%D0%B0%D0%BB%D1%8C%D1%86%D0%BE%D0%B2%D0%B0,+69%D0%91+%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BD%D0%B8%D0%B5+1,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&amp;t=m&amp;z=14&amp;ll=55.676607,37.498479&amp;output=embed"></iframe>

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'