/ @include 'kit/head.kit'
/ @include 'kit/header1.kit'

%section.index{:data => {:spy => 'scroll', :target => '#submenu', :offset => 0}}
  .slide.image#place{:style => 'background-image: url(i/1.jpg)'}
    .cc 
      %h1 Рыбалка и отдых <br /> в лучшем месте на Байкале
      %p 
        %a{:href => ""} Подробнее
  / @include 'kit/submenu.kit'
  .wind#place_anchor
    .www
    .slide.text
      %aside 
        %h4 Коротко о нашей турбазе
        %p Домики  и палатки расположены в лесу и выходят на безлюдный, песчаный пляж, огороженный с обеих сторон живописными мысами. База небольшая, за один заезд мы можем принять не более 20-25 человек. Питание домашнее, включает в себя свежие овощи, фрукты и рыбные блюда. По желанию отдыхающих организуются водные экскурсии с высадкой на островах залива (многие из которых занесены ЮНЕСКО, как памятники природы), посещение термальных источников
        %h4 Местоположение
        %p Туристическая база “Земля Байкала” расположена на территории Забайкальского национального парка в бухте Безымянная Чивыркуйского залива.
        %h4 Как добраться
        %p Если вы путешествуете на автомобите, то вам предстоит доехать до поселка Монахово, где вы сможете оставить его на охраняемой стоянке. Ваши вещи и вы сами будете
      %aside 
        %img{:src => "i/_--map---.png", :alt => ""} 
  .slide.image#rib_i{:style => 'background-image: url(i/2.jpg)'}
  .wind#ribal
    .www
    .slide.text
      %aside 
        %h2 Рыбалка
        %p Здесь становяться заядлыми рыбаками даже самые равнодушные. Чивыркуйский залив – край изобилия рыбы и рай для спиннингистов и нахлыстовиков. Каждый год на спиннинг здесь вылавливается щуки весом до 15 кг, а выловленные здесь окуни достигают веса более 3 кг.  Язь держится в многочисленных, травянистых бухточках и достигает 2,5 - 3 кг. Хариус и ленок встречаются на реках.  За день рыбалки (при достаточном опыте) добывается до 50-60 хвостов хариуса весом 700-1100 гр. Самый крупный (известный нам) хариус достигал веса 2,5 кг. Ленок достигает 3-5 кг.
        %p Мы также предлагаем нашим гостям провести 1-2 дня рыбалки на горных реках, впадающих в открытый Байкал, в местах, где вы не встретите ни одного человека и получите море эмоций от значительного улова.
        %p У нашем блоге вы найдете множество статей, посвященных рыбалке на Чивыркуйском заливе.
      %aside 
        .fotorama{:data => {:nav => "dots", :width => "100%", :height => ""}}
          %a{:href => "i/fotorama/01.jpg"} <img src="i/fotorama/thumbs/01.jpg">
          %a{:href => "i/fotorama/02.jpg"} <img src="i/fotorama/thumbs/02.jpg">
          %a{:href => "i/fotorama/03.jpg"} <img src="i/fotorama/thumbs/03.jpg">
          %a{:href => "i/fotorama/04.jpg"} <img src="i/fotorama/thumbs/04.jpg">
          %a{:href => "i/fotorama/05.jpg"} <img src="i/fotorama/thumbs/05.jpg">
          %a{:href => "i/fotorama/06.jpg"} <img src="i/fotorama/thumbs/06.jpg">
          %a{:href => "i/fotorama/07.jpg"} <img src="i/fotorama/thumbs/07.jpg">
          %a{:href => "i/fotorama/08.jpg"} <img src="i/fotorama/thumbs/08.jpg">
          %a{:href => "i/fotorama/09.jpg"} <img src="i/fotorama/thumbs/09.jpg">
          %a{:href => "i/fotorama/10.jpg"} <img src="i/fotorama/thumbs/10.jpg">
  .slide.image#otd_i{:style => 'background-image: url(i/3.jpg)'}
  .wind#otdih
    .www
    .slide.text
      .center 
        %h2 Отдых
        %p Бухта Безымянная, в которой расположена наша турбаза, имеет песчанный пляж, протяженностью более 1 километра, на котором гости, спокойно относящиеся к рыбалке, могут с удовольствием проводить солнечные дни. Вода прогревается до температуры, достаточно для купания уже в начале июля. Кроме того, моторные лодки турбазы могут быть использованы и для обзорных экскурсий по Чивыркуйскому заливу.
  .slide.image#usl_i{:style => 'background-image: url(i/4.jpg)'}
  .wind#uslovi
    .www
    .slide.text
      .center 
        %h2 Условия и проживание
        %p Из-за ограничения на капитальное строительство на территории национального парка мы каждый год строим комфортабельные домики и устанавлием стационарные палатки для наших гостей. Как в домиках, так и в палатках могут разместиться 3-4 гостя. В домиках повышенной комфортности есть биотуалет и каждый вечер работает душ с горячей водой.
        %ul.tgb 
          %li.tw 
            %img{:src => "i/icons/1.png", :alt => ""} 
            %p С 2010 года на базе устойчивый прием сети Мегафон
          %li 
            %img{:src => "i/icons/2.png", :alt => ""} 
            %p 2 генератора обеспечивают базу электричеством в дневные и вечерние часы
          %li.tw 
            %img{:src => "i/icons/3.png", :alt => ""} 
            %p У нас очень хорошая баня, расположенная прямо у воды
          .clear
          %li.tw 
            %img{:src => "i/icons/4.png", :alt => ""} 
            %p В нашем баре вы найдете любимые напитки
          %li 
            %img{:src => "i/icons/5.png", :alt => ""} 
            %p Завтрак, обед, полдник и ужин – от наших профессиональных поваров
          %li.tw
            %img{:src => "i/icons/6.png", :alt => ""} 
            %p А еще на нашем необитаемом пляже есть бильярд
  .wind#prices_anchor
    .www
    .slide.with_image.text#prices{:style => 'background-image: url(i/5.jpg)'}
      .wr
        %h2 Цены
        .labels.clearfix 
          %span 
            %a.label.active{:href => ""} Рыболовные туры <i></i>
          %span 
            %a.label{:href => ""} Отдых <i></i>
          %span 
            %a.label{:href => ""} Экскурсии <i></i>
        .clear
        .tabs 
          .tab.active 
            %table 
              %tr 
                %td 
                %th.c Стоимость экскурсии
              %tr 
                %th Экскурсия на остров Большой Бакланий
                %td 55 660
              %tr 
                %th Экскурсия по бухтам Чивыркуйского залива 
                %td 48 070
              %tr 
                %th Поездка на термальный источник Змеевый
                %td 40 480
              %tr 
                %th Путешествие на острова Большой (Лохматый) и Малый Кылтыгей (Голый)
                %td 55 660
              %tr 
                %th Большое путешествие на реку Большой Чивыркуй
                %td 48 070
            %p.comment 
              Подробнее об этих и других экскурсиях вы можете узнать в разделе 
              %a{:href => ""} Статьи
            .center-btn 
              %a.btn{:href => ""} Забронировать!
          .tab 
            %table 
              %tr 
                %td 
                %th.c Стоимость экскурсии
              %tr 
                %th Экскурсия на остров Большой Бакланий
                %td 56 660
              %tr 
                %th Экскурсия по бухтам Чивыркуйского залива 
                %td 48 070
              %tr 
                %th Поездка на термальный источник Змеевый
                %td 40 480
              %tr 
                %th Путешествие на острова Большой (Лохматый) и Малый Кылтыгей (Голый)
                %td 55 660
              %tr 
                %th Большое путешествие на реку Большой Чивыркуй
                %td 48 070
            %p.comment 
              Подробнее об этих и других экскурсиях вы можете узнать в разделе 
              %a{:href => ""} Статьи
            .center-btn 
              %a.btn{:href => ""} Забронировать!
          .tab 
            %table 
              %tr 
                %td 
                %th.c Стоимость экскурсии
              %tr 
                %th Экскурсия на остров Большой Бакланий
                %td 57 660
              %tr 
                %th Экскурсия по бухтам Чивыркуйского залива 
                %td 48 070
              %tr 
                %th Поездка на термальный источник Змеевый
                %td 40 480
              %tr 
                %th Путешествие на острова Большой (Лохматый) и Малый Кылтыгей (Голый)
                %td 55 660
              %tr 
                %th Большое путешествие на реку Большой Чивыркуй
                %td 48 070
            %p.comment 
              Подробнее об этих и других экскурсиях вы можете узнать в разделе 
              %a{:href => ""} Статьи
            .center-btn 
              %a.btn{:href => ""} Забронировать!

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'